<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="header">
            <div class="row">
                <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                    <h2>{{currentImage.category}}</h2>
                </div>
                <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3 select-style-1">
                    <select ng-model="categories" ng-options="category for category in imageCategories">
                        <option value="">Gallery Options</option>
                    </select>
                </div>
            </div> 
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"> 
        <div id="albumImage">
            <div class="albumImageWrapper">
                <img ng-src="{{currentImage.image}}" alt="{{currentImage.description}}">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div id="thumbWrapper">
            <ul id="thumbList">
                <li ng-repeat="image in images | filter:categories" ng-click="setCurrentImage(image)">
                    <img ng-src="{{image.thumbnail}}" alt="{{image.description}}">
                </li>
            </ul>
        </div>
    </div>
</div>